<div class="container">
  <div class="container background1">
    <h1 class="border-bottom"><%= exhibitList.exhibit1.name %></h1>
    <!-- another flex container here with the div and the audio, class name for css -->
    <div class="flex-container audio-positioner">
      <!-- css sets direction to column, media query sets direction to column reverse -->
      <div class="flex-container">
        <img
          class="exhibit-img"
          src="<%= exhibitList.exhibit1.image %>"
          alt=""
        />
        <p class="mt-4 description1"><%= exhibitList.exhibit1.description %></p>
      </div>
      <%- include("player.ejs", {description : 'This is hard coded text.'})%>
    </div>
    <!-- end flex container -->
  </div>
  <div class="container background2 dark-container">
    <h1 class="border-bottom"><%= exhibitList.exhibit2.name %></h1>
    <div class="flex-container audio-positioner">
      <div class="flex-container">
        <img
          class="exhibit-img"
          src="<%= exhibitList.exhibit2.image %>"
          alt=""
        />
        <p class="mt-4 description2"><%= exhibitList.exhibit2.description %></p>
      </div>
      <%- include("player.ejs", {description :
      'exhibitList.exhibit2.description'}) %>
    </div>
  </div>
  <div class="container background3">
    <h1 class="border-bottom"><%= exhibitList.exhibit3.name %></h1>
    <div class="flex-container audio-positioner">
      <div class="flex-container">
        <img
          class="exhibit-img"
          src="<%= exhibitList.exhibit3.image %>"
          alt=""
        />
        <p class="mt-4 description3"><%= exhibitList.exhibit3.description %></p>
      </div>
      <%- include("player.ejs", {description :
      'exhibitList.exhibit3.description'}) %>
    </div>
  </div>
  <div class="container background1">
    <h1 class="border-bottom"><%= exhibitList.exhibit4.name %></h1>
    <div class="flex-container audio-positioner">
      <div class="flex-container">
        <img
          class="exhibit-img"
          src="<%= exhibitList.exhibit4.image %>"
          alt=""
        />
        <p class="mt-4 description4"><%= exhibitList.exhibit4.description %></p>
      </div>
      <%- include("player.ejs", {description :
      'exhibitList.exhibit4.description'}) %>
    </div>
  </div>
</div>
