<div class="container">
  <div class="container background1">
    <h1 class="border-bottom"><%= exhibitList.exhibit1.name %></h1>
    <div class="flex-container audio-positioner">
      <!-- css sets direction to column, media query sets direction to column reverse -->
      <div class="flex-container">
        <img
          class="exhibit-img"
          src="<%= exhibitList.exhibit1.image %>"
          alt=""
        />
        <!-- <p class="mt-4 description1"><%= exhibitList.exhibit1.description %></p> -->
        <div>
          <% exhibitList.exhibit1.description.forEach((paragraph) => {%>
          <p class="mt-4 description1"><%= paragraph %></p>
          <% }) %>
        </div>
      </div>
      <%- include("player.ejs", {description: exhibitList.audioDescription1})%>
    </div>
    <!-- end flex container -->
  </div>
  <div class="container background3 dark-container">
    <h1 class="border-bottom"><%= exhibitList.exhibit2.name %></h1>
    <div class="flex-container audio-positioner">
      <div class="flex-container">
        <img
          class="exhibit-img"
          src="<%= exhibitList.exhibit2.image %>"
          alt=""
        />
        <!-- <p class="mt-4 description2"><%= exhibitList.exhibit2.description %></p> -->
        <div>
          <% exhibitList.exhibit2.description.forEach((paragraph) => {%>
          <p class="mt-4 description2"><%= paragraph %></p>
          <% }) %>
        </div>
      </div>
      <%- include("player.ejs", {description : exhibitList.audioDescription2})
      %>
    </div>
  </div>
  <div class="container background1">
    <h1 class="border-bottom"><%= exhibitList.exhibit3.name %></h1>
    <div class="flex-container audio-positioner">
      <div class="flex-container">
        <img
          class="exhibit-img"
          src="<%= exhibitList.exhibit3.image %>"
          alt=""
        />
        <!-- <p class="mt-4 description3"><%= exhibitList.exhibit3.description %></p> -->
        <div>
          <% exhibitList.exhibit3.description.forEach((paragraph) => {%>
          <p class="mt-4 description3"><%= paragraph %></p>
          <% }) %>
        </div>
      </div>
      <%- include("player.ejs", {description : exhibitList.audioDescription3})
      %>
    </div>
  </div>
  <div class="container background3">
    <h1 class="border-bottom"><%= exhibitList.exhibit4.name %></h1>
    <div class="flex-container audio-positioner">
      <div class="flex-container">
        <img
          class="exhibit-img"
          src="<%= exhibitList.exhibit4.image %>"
          alt=""
        />
        <!-- <p class="mt-4 description4"><%= exhibitList.exhibit4.description %></p> -->
        <div>
          <% exhibitList.exhibit4.description.forEach((paragraph) => {%>
          <p class="mt-4 description4"><%= paragraph %></p>
          <% }) %>
        </div>
      </div>
      <%- include("player.ejs", {description : exhibitList.audioDescription4})
      %>
    </div>
  </div>
</div>
