<div class="container">
  <h1 class="border-bottom"><%= exhibitList.exhibit1.name %></h1>
  <!-- another flex container here with the div and the audio, class name for css -->
  <div class="flex-container audio-positioner">
    <!-- css sets direction to column, media query sets direction to column reverse -->
    <div class="flex-container">
      <img class="exhibit-img" src="<%= exhibitList.exhibit1.image %>" alt="" />
      <p><%= exhibitList.exhibit1.description %></p>
    </div>
    <audio controls controlsList="nodownload">
      <source src="<%= exhibitList.exhibit1.audio %>" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <!-- end flex container -->
</div>
<div class="container">
  <h1 class="border-bottom"><%= exhibitList.exhibit2.name %></h1>
  <div class="flex-container audio-positioner">
    <div class="flex-container">
      <img class="exhibit-img" src="<%= exhibitList.exhibit2.image %>" alt="" />
      <p><%= exhibitList.exhibit2.description %></p>
    </div>
    <audio controls controlsList="nodownload">
      <source src="<%= exhibitList.exhibit2.audio %>" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
<div class="container">
  <h1 class="border-bottom"><%= exhibitList.exhibit3.name %></h1>
  <div class="flex-container audio-positioner">
    <div class="flex-container">
      <img class="exhibit-img" src="<%= exhibitList.exhibit3.image %>" alt="" />
      <p><%= exhibitList.exhibit3.description %></p>
    </div>
    <audio controls controlsList="nodownload">
      <source src="<%= exhibitList.exhibit3.audio %>" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
<div class="container">
  <h1 class="border-bottom"><%= exhibitList.exhibit4.name %></h1>
  <div class="flex-container audio-positioner">
    <div class="flex-container">
      <img class="exhibit-img" src="<%= exhibitList.exhibit4.image %>" alt="" />
      <p><%= exhibitList.exhibit4.description %></p>
    </div>
    <audio controls controlsList="nodownload">
      <source src="<%= exhibitList.exhibit4.audio %>" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
