<div class="container">
  <h1 class="border-bottom"><%= exhibit.name %></h1>
  <div class="flex-container">
    <img
      class="exhibit-img"
      src="<%= exhibit.image %>"
      alt="<%= exhibit.imgalt %>"
    />
    <!-- <p class="description"><%= exhibit.description %></p> -->
    <div class="exhibit-text-box container">
      <% exhibit.description.forEach((paragraph) => {%>
      <p class="description"><%= paragraph %></p>
      <br />
      <% }) %>
    </div>
  </div>
  <div class="exhibit-audio fixed-bottom">
    <%- include("player.ejs", exhibit.description) %>
  </div>
</div>
