<div class="container">
  <section id="intro" class="dark-container">
    <h1 class="landing-title"><%= contentList.name %></h1>
    <div class="flex-container">
      <img class="landing-img" src="<%= contentList.image %>" alt="" />
      <div class="flex-container intro-h-t">
        <h2>The Exhibition</h2>
        <p class="mt-4 landing-description"><%= contentList.description %></p>
        <h2>The Artist</h2>
        <p class="mt-4 landing-description"><%= contentList.artist %></p>
      </div>
    </div>
    <div class="exhibit-audio landing-audio sticky-bottom">
      <%- include("player.ejs", {description: contentList.audio}) %>
    </div>
  </section>
  <section id="guide">
    <h2 class="pb-2 pt-4 border-bottom viewing-title">
      Viewing and Listening Methods:
    </h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <span class="material-symbols-outlined"> qr_code_2 </span>
        </div>
        <h3 class="fs-2">QR Codes</h3>
        <div class="exhibit-audio guide-audio">
          <%- include("player.ejs", {description: contentList.guide1}) %>
        </div>
        <p class="guide-text"><%= contentList.guide1 %></p>

        <hr class="ruler" />
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <span class="material-symbols-outlined"> headphones </span>
        </div>
        <h3 class="fs-2">Audio</h3>
        <div class="exhibit-audio guide-audio">
          <%- include("player.ejs", {description: contentList.guide2}) %>
        </div>
        <p class="guide-text"><%= contentList.guide2 %></p>

        <hr class="ruler" />
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <span class="material-symbols-outlined"> menu </span>
        </div>
        <h3 class="fs-2">Exhibit Links</h3>
        <div class="exhibit-audio guide-audio">
          <%- include("player.ejs", {description: contentList.guide3}) %>
        </div>
        <p class="guide-text"><%= contentList.guide3 %></p>

        <hr class="ruler" />
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <span class="material-symbols-outlined"> arrow_downward </span>
        </div>
        <h3 class="fs-2">Walk-Through</h3>
        <div class="exhibit-audio guide-audio">
          <%- include("player.ejs", {description: contentList.guide4}) %>
        </div>
        <p class="guide-text"><%= contentList.guide4 %></p>

        <hr class="ruler" />
      </div>
    </div>
  </section>
</div>
